* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: #2c73be;
  color: #253a52;
  font-family: sans-serif;
}

/*Header logo*/
.header-logo {
  width: 10rem;
}

/* Navigation bar */
.nav-text {
  padding: 1rem;
  margin-top: 0.5rem;
}

/* Home Page Content */
.content-section {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.page-content {
  margin-top: -0.5rem;
  padding: 1rem;
  border: black;
}
